html{
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0;
}


/*HEADER */

header {

    color: #ffffff;
    background-color: #1F2937;
    
}

.navegation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
   
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

/* First Section */

.section-1 {

    background-color: #1F2937;
    color: #ffffff;
}

.box-1{
    display:flex;
    justify-content: center;  
    height: 371px;
    width: 80%;
    margin: auto;
    gap: 2em;
    padding: 3em 0;
}


.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.introduction button {
    width: 40%;
    height: 3em;
    align-self: flex-start;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: 700;
}


figure {
    display: flex;
    flex: 1;
    height: auto;
}







/* Section-2 */

.section-2 {

    background-color: aliceblue;
}

.box-2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr ;
    margin: auto;
    width: 80%;
    height: 450px;
    align-items: center;

}

img {
    max-width: 100%;
    min-width: 20%;
    
}


.images-with-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60%;
}

.images-with-subtext p {
    display: inline-block;
    text-align: center;
}

.images-with-subtext img {
    background-color: #565656;
    width: 8em;
    height: 8em;
    object-fit: cover;
}

/* Section 3*/
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 450px;
    background-color: #565656;
     align-items: center;
    align-content: center;
    font-weight: 900;
    color: aliceblue;
}

.quote {
    width: 80%;
    margin: auto;
}

.section-3 blockquote{
    font-size: 2em;
}

.section-3 p {
    margin: 0;
    text-align: center;
}

/* Section 4 */
.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 450px;
    background-color: aliceblue;
}

.box-4 {
    display: flex;
    width: 80%;
    background-color: #3882F6;
    color: aliceblue;
    border-radius: 5px;
    padding: 2em;
    align-items: center;
    justify-content: space-evenly;

}

.call-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 40%;
}

.box-4 button {
    color:aliceblue;
    background-color: #3882F6;
    border: 3px solid aliceblue;
    border-radius: 6px;
    font-size: 2em;
    font-weight: 800;
    padding: 0.3em;
}

/* Footer*/
footer{
    background-color: #1F2937;

    margin: auto;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    color: aliceblue;
    font-weight: 700;
    padding: 2em;
}

.footer p {
    margin: 0;
}